.whiteList {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 7.5rem;
	background: rgba(0, 0, 0, 0.6);
	z-index: 9;
	.content {
		width: 600px;
		height: 350px;
		border-radius: 8px;
		position: fixed;
		background: #fff;
		top: 30%;
		margin: 0 auto;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99;
		.icon {
			width: 100%;
			text-align: center;
			margin-top: 50px;
			img {
				width: 100px;
				margin: 0 auto;
			}
			.desc {
				text-align: center;
				font-size: 30px;
				width: 468px;
				margin: 40px auto;
				color: rgba(134, 145, 157, 1);
				line-height: 50px;
			}
		}
	}
}
