{
  "presets": ["react", "env", "stage-0", "es2015"],
  "env": {
    // only enable it when process.env.NODE_ENV is 'development' or undefined
    "development": {
      "plugins": [
        [
          "transform-runtime",
          { "helpers": false, "polyfill": true, "regenerator": true }
        ],
        ["import", { "style": true, "libraryName": "antd" }],
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    },
    "production": {
      "plugins": [
        [
          "transform-runtime",
          { "helpers": false, "polyfill": true, "regenerator": true }
        ],
        ["import", { "style": true, "libraryName": "antd" }],
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    }
  }
}
