@import '../../../assets//styles/scss/base/fn.scss';
.modal {
	.mask {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
		margin: 0;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
	}
	.modalWrapper {
		position: fixed;
		width: 620px;
		height: 594px;
		border-radius: 10px;
		padding: 26px 30px 0;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 1000;
		background-color: #fff;
		box-sizing: border-box;
		.closeBtn {
			width: 68px;
			height: 68px;
			position: absolute;
			bottom: -100px;
			left: 50%;
			transform: translate(-50%, 0%);
			@include spriteIcon('../../../assets/images/common/sprite_icon.png', 0, 0);
		}
		.tipText {
			text-align: center;
		}
	}
	.tipWrapper {
		width: 5rem;
		height: 2rem;
	}
}
.pinpai {
	background: url(./img/activity_bg.png) no-repeat;
	background-size: 100%;
	background-color: #fff;
	.banner_bg {
		width: 100%;
		margin-bottom: 110px;
	}
	.entryBtn {
		display: block;
		width: 635px;
		margin: 0 auto;
		padding-top: 342px;
	}
	.descBox {
		margin: 6px 38px 0;
		box-shadow: -6px 25px 84px 0 rgba(18, 28, 50, 0.14);
		border-radius: 8px;
		background: #fff;
		padding: 48px 53px 19px;
		color: #242d46;
		h3 {
			font-size: 40px;
			font-weight: 600;
			margin-bottom: 43px;
		}
		p {
			font-size: 28px;
			line-height: 44px;
			margin-bottom: 59px;
		}
	}
	.proIntro {
		display: block;
		width: 198px;
		margin: 98px auto 119px;
	}
	.proDesc {
		display: block;
		width: 619px;
		margin: 0 auto 116px;
	}
	.protocolBox {
		position: relative;
		color: #414a53;
		font-size: 24px;
		line-height: 36px;
		padding: 0 56px 36px;
		.specailColor {
			color: #8e8d7b;
			margin-left: 34px;
		}
		.checked {
			position: absolute;
			top: 5px;
			width: 28px;
			height: 28px;
			background: url(./img/checked_ico.png) no-repeat;
			background-size: 100%;
		}

		.nochecked {
			width: 26px;
			height: 26px;
			background-image: url(./img/unChecked_ico.png);
		}
	}
}
