.logo_box {
	margin: 35px 10px 40px;
	.logo {
		width: 100px;
		height: 100px;
	}
	.text {
		letter-spacing: 10px;
		color: #333;
	}
	.close_icon {
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px;
	}
}
.get_sms_box {
	position: relative;
	color: #4da6ff;
	cursor: pointer;
	input {
		padding-right: 180px !important;
	}
	.sms_text {
		min-width: 180px;
		position: absolute;
		text-align: center;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		.sms_text_dis {
			color: #999;
			opacity: 0.8;
		}
	}
}

.btn_box {
	margin: 72px 50px 10px;
	.btn_primary {
		background-color: #4da6ff;
	}
}
:global {
	.alert_sms.am-modal {
		&.am-modal-transparent {
			width: 90%;
		}
	}
}
